body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $text;
    line-height: 1.6;
    background-color: white;
}
section{
    padding: 4rem 1rem;
}
h1,h2,h3{
    color: black;
}
h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3rem;
}
a{
    text-decoration: none;
}