// Colores //
$primary: #0a3d62;
$secondary-color: #f39c12;
$white: #ffffff;
$black: #1e1e1e;

$primary2: #0a4da2;
$secondary2: #00aaff;
$accent: #25d366;
$text: #1a1a1a;
$bg: #f7f9fc;

// Bordes y sombras//
$radius: 1.2rem;
$shadow: 0 1rem 2.5rem rgba(0,0,0,.08);