// Estilos para el header //
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, $primary, $primary2);
  padding: 1rem;

  &__container {
    max-width: 100%;
    margin: 0 auto;
    padding: .8rem 1rem;

    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 250px;
    border-radius: 50%;

   
  }
  &__nav{
    display: flex;
    gap: 3.5rem;
    a{
      color: white;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
  &__nav a:hover{
    color: $secondary-color;
    cursor: pointer;
  }
  &__cta{
    background: $accent;
    color: white;
    padding:  1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    width: 25%;
  }
  @media (max-width: 768px){
    .header__logo{
      margin: 0 auto;
    }
    .header__nav,
    .header__cta{
      display: none;
    }
  }
}
  
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header__cta{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    width: 25%;
  }
}
